version: "3.9"

services:
  api:
    container_name: Nest CI/CD Docker Render Deploy
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped